body {
	background-color: white;
}

h1 {
	padding: 0.6em 1.0em;
	border-style: solid;
        border-width: 1px 1px 5px 1px;
	border-color: #9999CC;
	color: #444444;
	background-color: #eeeeee;
}

h2 {
	padding: 0.3em 1.5em;
	border-style: solid;
        border-width: 1px 1px 1px 5px;
        margin: 1em 2% 1em 0;
	border-color: #9999CC;
	color: #444444;
	background-color: #eeeeee;
}


h3 {
	padding: 0.2em 1.5em;
	border-style: solid;
        border-width: 1px 1px 1px 5px;
        margin: 1em 2% 1em 0.5em;
	border-color: #9999CC;
	color: #444444;
	background-color: #eeeeee;
}


h4 {
        margin: 1em 2% 1em 0.5em;
}


p {
        margin: 1em 2% 1em 1em;
	text-indent: 1em;
	line-height: 130%;
}

ul {
        margin: 1em 2% 1em 2em;
	text-indent: 1em;
	line-height: 140%;
}

hr {
	border-style: solid;
	border-color: #9999CC;
}

blockquote {
	padding: 1.0em 1.0em;
	background-color: #f3eeee;
        border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #999999;
	line-height: 140%;
}

p.updated {
        margin: 0 2% 0 0;
	font-size: 0.8em;
	text-align: right;
}

p.langselector {
        margin: 0 2% 0 0;
	text-align: right;
}

address {
	text-align: right;
}

img {
	border-style: solid;
	border-width: 1px;
}

p.footer {
	text-align: right;
}

img.banner {
	border-style: none;
	align: right;
}